= form_for @post do |p| 
 = p.label :title, 'Title:'
 = p.text_field :title 
 %br
 = p.label :author, 'Author:'
 = p.text_field :author
 %br
 = p.label :body, 'Body:'
 = p.text_field :body
 %br
  = p.submit

